.drop-menu{
    background-color: #ffffff;
    position: absolute;
    transform: translate(0rem, 6rem);

    ul {
        list-style: none;
        height: auto !important;
        flex-direction: column;
        color: #555555;
        font-size: 1.1rem;
        padding-bottom: 1rem;

        li{
            transition: background 0.2s ease-in-out;
            cursor: pointer;
            width: 100%;
            height: auto !important;
            padding: 0 2rem;
            line-height: 3rem;
            &:hover{
                background:rgba(35, 185, 226, 0.2);
            }
        }

    }
}