.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    align-items: center;
    background: #1bafd8;
    padding: 0 12rem;

    > div{
        display:flex;
        height:100%;
        align-items: center;
        a {
            height: 4.5rem;
            line-height: 4.5rem;
            color:#fff;
            text-decoration: none;
            font-size: 0.9rem;
            letter-spacing: 1.8px;
            margin-right: 3rem;
            font-weight: 600;
        }
    }

    :nth-child(2){
        :not(:first-child){
            background-color: #fdb913;
            padding: 0 2.5rem;
            margin-right: 0 !important;
        }
    }

}

@media only screen and (max-width:900px){
    .header-container > div a{
        margin-right:0rem;
    }

}