.header-fixed-container {
    background: #38bfe4;
    padding: 0 12rem;
    width: 100%;
    height: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    

    :first-child{
        display: flex;
        align-items: center;

        &:last-child{
            height: 100%;
        }

        .custom-img{
            padding-left: 0rem;
        }

        :not(:first-child):not(div):not(li){
            transition: color 0.2s ease-in-out;
            &:hover{
                color:#38bfe4;
                background:#fff;
            }
        }
        
       

        .drop-container{
            display: flex;
            flex-direction: column;
            height:auto;

            
            a{
                transition: color 0.2s ease-in-out;
                height: 6rem;
            }
            &:hover > a{
                color:#38bfe4;
                background:#fff;
            }
            
            div {
                padding-top: 1rem;
            }
        }
        
    }

    a {
        display: flex;
        justify-content: center;
        align-items:center;
        height:100%;
        color:#fff;
        text-decoration: none;
        font-size: 1.5rem;
        padding:0 2rem;
        font-weight: 400;
        line-height: 2rem;
    }



    :nth-child(2){
        display: flex;
        justify-self: flex-end;

        div:first-child{
            
            a{
                margin-right: 5rem;
                font-weight: 300;
                gap: 0.4rem;
                font-size: 2.2rem;
                font-weight: 300;
            }

            
            path{
                color:#fff !important;
            }

         
        }

        :nth-child(2){
            
            div{
                padding-top: 1rem;
            }
            a{
                display: flex;
                gap: 0.4rem;
                transition: color 0.2s ease-in-out;
                padding-left: 1rem;
                padding-right: 1rem;
            }
            &:hover > a{
                color:#38bfe4;
                background:#fff;
            }
        }
    }

    img{
        width: 9rem;
        height: 4rem !important;
    }
}

.fix{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(35, 185, 226, .9);
    animation: fading 0.3s;
    -webkit-animation: fading 0.3s;
}

@keyframes fading {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

