.header-fixed-container {

    background: #38bfe4;
    display: flex;
    justify-content: space-between;
    padding: 0 12rem;
    width: 100%;


    :first-child{
        height: 6rem;
        display: flex;
        align-items: center;

        .custom-img{
            padding-left: 0rem;
        }

        :not(:first-child):not(div):not(li){
            transition: color 0.2s ease-in-out;
            &:hover{
                color:#38bfe4;
                background:#fff;
            }
        }

        .drop-container{
            display: flex;
            flex-direction: column;
            
            a{
                transition: color 0.2s ease-in-out;
            }
            &:hover > a{
                color:#38bfe4;
                background:#fff;
            }
            
            div {
                padding-top: 1rem;
            }
        }
        
    }

    a {
        height: 6rem;
        line-height: 6rem;
        color:#fff;
        text-decoration: none;
        font-size: 1.5rem;
        padding:0 2rem;
        font-weight: 400;
    }



    :nth-child(2){
        display: flex;

        :first-child{
            
            a{
                margin-right: 5rem;
                font-weight: 300;
                gap: 0.4rem;
                font-size: 2.2rem;
                font-weight: 300;
            }

         
        }

        :nth-child(2){
            a{
                display: flex;
                gap: 0.4rem;
                transition: color 0.2s ease-in-out;
                padding-left: 1rem;
                padding-right: 1rem;
            }
            &:hover > a{
                color:#38bfe4;
                background:#fff;
            }
        }
    }

    img{
        width: 9rem;
        height: 4rem !important;
    }
}