.arrow-next{
    z-index: 998;
    display: flex;
    padding-right: 9rem;
    position: absolute;
    justify-content: flex-end;

    .button-next{
        outline: none;
        background: transparent !important;
        border-radius: 50%;
        width: 4.5rem;
        height: 4.5rem;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;    
    }

}