.slider-container{
    height: 0;
    width: 100%;
    position: relative;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    padding-top: 35.43%;

    .sliders{
        position:relative;
        width: 100%;

        .slide{
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            height: 0;
            
            &::before{
                content:'';
                position: absolute;
                display: block;
                width: 100% !important;
                height: 0 !important;
                padding-top: 35.43%;
                z-index: 1;
                background: -webkit-gradient( linear, left bottom, left top, from(rgba(0, 84, 128, 0.3)), color-stop(80%, transparent), to(transparent) );
                background: linear-gradient( to top, rgba(0, 84, 128, 0.3) 0%, transparent 80%, transparent 100% );
            }

            :nth-child(2){
                width: 100%;
                display: none;
            }

            div {
                position: absolute;
                width: fit-content;
                display: flex;
                padding-bottom: 5.6rem;
                padding-left: 12rem;
                overflow: auto;
            }
            
        }
        

    }
}


.container-slide-buttons{
    position: absolute;
    z-index: 999;
    display: flex;
    width: fit-content;
    justify-content: center;
    padding: 1.7rem 1rem;
    align-items: flex-end;


    >div{
        background: transparent;
        width:3rem;
        height:3rem;
        font-size: 2rem;
        font-weight: bolder;
        display:flex;
        justify-content:center;
        align-items:center;
        cursor: pointer;
        border-radius: 50%;
        

        span{
            background-color:#fff;
            text-align: center;
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 50%;
            transition-delay:0.2s;
        }

        &:focus{
            border:1px solid #fff;
        }

        &:focus > span {
            border:1px solid #000;
            width:0.5rem;
            height:0.5rem;
        }

        
    }
}

@media only screen and (max-width:900px){
    .button-slide{
        height: 3.4rem;
        padding: 0 4.8rem;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 767px){
    .slider-container{
        padding-top: 144.43%;
    
        .arrow-next{
            display: none;
        }

    .slide{

        &::before{
            padding-top: 144.43% !important;
        }

        :nth-child(2){
            display: block !important;
        }
        :nth-child(3){
            display: none;
        }


        div{
            padding-left: 0 !important;
            width: 100% !important;
            justify-content:center;

            .button-slide{
                width: 100% !important;
                margin: 0 12rem;
                margin-bottom: 7rem;
            }
        }
    }

    }
}
